name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install CUnit
      run: sudo apt-get update && sudo apt-get install -y libcunit1 libcunit1-doc libcunit1-dev
    - name: cmake ./CMakeLists.txt
      run: cmake ./CMakeLists.txt
    - name: make all -j
      run: make all -j
    - name: make test
      run: make test
